extends /common/base


block subtitle
  | FloraShop Admin


block append vars 
  - 
    var navigationOptions = [
      {
        url: '#',
        title: 'Квіти',
        icon: '/img/flower.svg'
      },
      {
        url: '#',
        title: 'Замовлення',
        icon: '/img/order.svg'
      },
      {
        url: '#',
        title: 'Відгуки',
        icon: '/img/mail.svg'
      },
      {
        url: '#',
        title: 'Користувачі',
        icon: '/img/users.svg'
      }
    ]