.flower-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
 }

 .flower-card {
  width: 240px;
  display: flex;
  flex-direction: column;
  background: var(--color-first);
  color: var(--color-third);
  font-size: 20px;
  margin-bottom: 20px;
 }

 .flower-card-thumbnail {
  max-width: 100%;
 }

 .flower-card-name {
  font-weight: 700;
  margin: 5px;
 }

 .flower-card-price {
  display: block;
  margin: 5px;
  margin-top: 0px;
 }