main {
  max-width: 800px;
}

.flower-info {
  display: flex;
  gap: 30px;
}

.flower-info img {
  max-width: 300px;
}

.comments {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.comment {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

.comment .author {
  font-size: 20px;
  font-weight: 600;
}

.comment .text {
  font-size: 20px;
}

.comment-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.comment-form input,
.comment-form textarea {
  padding: 5px;
}

.comment-form button {
  height: 25px;
  background: var(--color-second);
  border-radius: 5px;;
}

.comment-form textarea {
  height: 100px;
  resize: none;
}
