table {
  color: var(--color-third);
  font-size: 20px;
  border-collapse: collapse;
}

tr {
  background: #70b158;
}

th {
  background: var(--color-first);
}

tr:nth-of-type(even) {
  background: #97d184;
}

td, .heading-element {
  padding: 3px 0 3px 5px;
}

td, .heading-element-wrapper {
  border-right: 3px #d8d8d8 solid;
}

td:last-child, .heading-element-wrapper:last-child {
  border-right: none;
}

.heading-element-wrapper {
  border-color: var(--color-third);
}

.heading-element {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.heading-icon {

}
