main {
  width: 700px;
}

.slider {
  display: flex;
  flex-direction: column;
}

.slider-images {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.slider-images-button {
  background: var(--color-first);
  color: var(--color-third);
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  padding-top: 30px;
}

.main-image-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-image-wrapper > .arrow {
  width: 70px;
}

.main-image {
  align-self: center;
  width: 400px;
}

.slider-image {
  width: 160px;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.form-field {
  color: var(--color-third);
  padding: 2px 3px 2px 5px;
  font-size: 19px;
  margin: 10px 15px 0 0;
  background: var(--color-first);
  border: none;
  width: 330px;
  height: 30px;
}

.form-fields {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-button {
  background: white;
  border: 3px currentColor solid;
  padding: 2px 3px;
  font-weight: 800;
  font-size: 20px;
  color: var(--color-first);
  align-self: flex-end;
}
