mixin flower-card(flower, href)
  <a class='flower-card' href='#{href}'>
    <img class='flower-card-thumbnail' src='/img/flower.jpg'>
    <span class='flower-card-name'>#{flower.name}</span>
    <span class='flower-card-price'>#{flower.price}</span>
  </a>